body {
	margin: 0;
	padding: 0;
	background-color: #6a6a00;
}
.gallery {
	width: 1060px;
	height: 670px;
	margin: 0 auto;
	text-align: center;
}
.gallery .photos {
	height: 100%;
	position: relative;
}
.gallery .photos img {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	opacity: 0;
	transition: opacity 1s;
}
.gallery .photos img.showed {
	opacity: 1;
}
.prev,
.next {
	width: 30px;
	padding: 10px;
	position: absolute;
	top: 45%;
	background-color: #ffffff;
	border-radius: 50%;
	font-size: 26px;
	font-weight: bold;
	color: #8b0000;
	opacity: .5;
}
.prev {
	left: 0;
	z-index: 10;
	margin-left: 10px;
}
.next {
	right: 0;
	margin-right: 10px;
}
.prev:hover,
.next:hover {
	background-color: #6a6a00;
	color: white;
	opacity: .9;
}